<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="animate__animated animate__pulse  ">
                <img  src="assets/top_image.png" class="brand-logo" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col p-0">
            <div class="brand-color ">
                <div class="">
                    <h1 class="text-center p-2"  style="color: white;">SELECT YOUR BRAND HERE</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row brand-cards animate__animated animate__zoomIn" >
        <div class="col-sm-6 p-3">
            <mat-card style="padding: 5px;" (click)="onClickBrand('APPLE');">
                <img src="assets/brand_logo/APPLE.png"/>
            </mat-card>
        </div>
        <div class="col-sm-6 p-3">
            <mat-card style="padding: 5px;" (click)="onClickBrand('SAMSUNG');">
                <img src="assets/brand_logo/SAMSUNG.png"/>
            </mat-card>
        </div>
      
        <div class="col-sm-6 p-3">
            <mat-card style="padding: 5px;" (click)="onClickBrand('NOKIA');">
                <img src="assets/brand_logo/NOKIA.png"/>
            </mat-card>
        </div>
        <div class="col-sm-6 p-3">
            <mat-card style="padding: 5px;" (click)="onClickBrand('ONE PLUS');">
                <img src="assets/brand_logo/ONE PLUS.png"/>
            </mat-card>
        </div>
        <div class="col-sm-6 p-3">
            <mat-card style="padding: 5px;" (click)="onClickBrand('OPPO');">
                <img src="assets/brand_logo/OPPO.png"/>
            </mat-card>
        </div>
        <div class="col-sm-6 p-3">
            <mat-card style="padding: 5px;" (click)="onClickBrand('POCO');">
                <img src="assets/brand_logo/POCO.png"/>
            </mat-card>
        </div>
        <div class="col-sm-6 p-3">
            <mat-card style="padding: 5px;" (click)="onClickBrand('REALMI');">
                <img src="assets/brand_logo/REALMI.png"/>
            </mat-card>
        </div>
        <div class="col-sm-6 p-3">
            <mat-card style="padding: 5px;" (click)="onClickBrand('REDMI');">
                <img src="assets/brand_logo/REDMI.png"/>
            </mat-card>
        </div>
        <div class="col-sm-6 p-3">
            <mat-card style="padding: 5px;" (click)="onClickBrand('LG');">
                <img src="assets/brand_logo/LG.png"/>
            </mat-card>
        </div>
        <div class="col-sm-6 p-3">
            <mat-card style="padding: 5px;" (click)="onClickBrand('VIVO');">
                <img src="assets/brand_logo/VIVO.png"/>
            </mat-card>
        </div>
    </div>

    
</div>

<app-footer-component></app-footer-component>