<mat-card style="width: 100%; height: 100%; background: rgb(255, 255, 255); text-align: center;">
    <div style="width: 100%;height: 100%;">
        
        <div class="animate__animated animate__backInUp ">
            <span style="  color: rgb(122, 71, 71);text-shadow: 2px 2px 4px #000000;font-size: 26px;">
                Select Your Brand
            </span>
        </div>

        <div style="margin: 0 auto;width: 20%;">
            <div style="float:left;padding: 5px;">
                <img style="width: 100px;height: 100px;" routerLink="/listProducts" src="assets/nokia.JPG"/>
            </div>

            <div style="float:left;padding: 5px;">
                <img style="width: 100px;height: 100px;" routerLink="/listProducts" src="assets/samsung.JPG"/>
            </div>

            <div style="float:left;padding: 5px;">
                <img style="width: 100px;height: 100px;" routerLink="/listProducts" src="assets/oppo.JPG"/>
            </div>

            <div style="float:left;padding: 5px;">
                <img style="width: 100px;height: 100px;" routerLink="/listProducts" src="assets/nokia.JPG"/>
            </div>

            <div style="float:left;padding: 5px;">
                <img style="width: 100px;height: 100px;" routerLink="/listProducts" src="assets/samsung.JPG"/>
            </div>

            <div style="float:left;padding: 5px;">
                <img style="width: 100px;height: 100px;" routerLink="/listProducts" src="assets/oppo.JPG"/>
            </div>

            <div style="float:left;padding: 5px;">
                <img style="width: 100px;height: 100px;" routerLink="/listProducts" src="assets/nokia.JPG"/>
            </div>

            <div style="float:left;padding: 5px;">
                <img style="width: 100px;height: 100px;" routerLink="/listProducts" src="assets/samsung.JPG"/>
            </div>

            <div style="float:left;padding: 5px;">
                <img style="width: 100px;height: 100px;" routerLink="/listProducts" src="assets/oppo.JPG"/>
            </div>
            
        </div>

    </div>
    

   
</mat-card>>