<!-- <div style="position: fixed; left: 0; bottom: 0;">
  
    <button mat-icon-button (click)="goBack();" color="primary"><mat-icon style="transform: scale(2);">arrow_back</mat-icon></button>
</div> -->


<div style="position: fixed; left: 5px; bottom: 5px;">
  
    <button mat-raised-button (click)="goBack();"style="border-radius:50px;" color="primary">Back</button>
</div>

<div style="position: fixed; right:5px; bottom: 5px;">
  
    <button mat-raised-button color="accent" style="border-radius:50px;" [disabled]="count2" *ngIf="count1"  routerLink="/compareProducts">Compare [ {{compareDeviceCount}} ]</button>
</div>