<div style="max-width: 100%; background: rgb(255, 255, 255); text-align: center;height: max-content;padding: 20px;">
    <div style="width: 100%;">
        
        <div class="animate__animated animate__backInUp ">
            <span style="  color: rgb(122, 71, 71);text-shadow: 2px 2px 4px #000000;font-size: 26px;">
                Mobile Configurations
            </span>
        </div>

        <div style="margin: 0 auto;width: 40%;">
            
            <div>
                <table style="width: 100%;">
                    <tr>

                        <td>
                            <img src="assets/pocoimg_1.jpg" class="animate__animated animate__fadeInLeft"/>
                        </td>
                        <td>
                            <p>POCO M2 Pro</p>
                            <br />
                            <p style="background: green;color: white;">
                            <span style="padding: 2px;">
                                ₹ 15,499/-
                            </span>
                        </p>
                        </td>
                    </tr>

                </table>
            </div>

            <div>
                <table style="width: 50%;" >
                    <tr>
                        <td>
                            <img src="assets/pocoimg_1.jpg" style="width: 25%;height: 25%;" />
                        </td>
                        <td>
                            <img src="assets/pocoimg_1.jpg" style="width: 25%;height: 25%;" />
                        </td>
                        <td>
                            <img src="assets/pocoimg_1.jpg" style="width: 25%;height: 25%;" />
                        </td>
                    </tr>
                </table>
            </div>

            <br />
<!-- Configuratioin Part -->
            <div style="max-height: 300px; overflow: auto;width: 100%;">
                <table style="width: 100%; font-size: 11px;padding: 5px;">
                    <tr  style="border-bottom: 1px solid black;" class="animate__animated animate__flipInX ">
                        <th style=" background: black; color: white;">
                            <span style="padding: 20px;">Display</span>
                        </th>
                        <td>
                            22 mm
                        </td>
                    </tr>

                    <br />

                    <tr  style="border-bottom: 1px solid black;" class="animate__animated animate__flipInX ">
                        <th style=" background: black; color: white;">
                            <span style="padding: 20px;">Processor</span>
                        </th>
                        <td>
                            Dual
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;" class="animate__animated animate__flipInX ">
                        <th style=" background: black; color: white;">
                            <span style="padding: 20px;">Storage</span>
                        </th>
                        <td>
                            128 GB
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;" class="animate__animated animate__flipInX ">
                        <th style=" background: black; color: white;">
                            <span style="padding: 20px;">RAM</span>
                        </th>
                        <td>
                            8 GB
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;" class="animate__animated animate__flipInX ">
                        <th style=" background: black; color: white;">
                            <span style="padding: 20px;">Camera</span>
                        </th>
                        <td>
                            48 MP + 8 MP + 2 MP
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;" class="animate__animated animate__flipInX ">
                        <th style=" background: black; color: white;">
                            <span style="padding: 20px;">Camera Front</span>
                        </th>
                        <td>
                            16 MP
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;" class="animate__animated animate__flipInX ">
                        <th style=" background: black; color: white;">
                            <span style="padding: 20px;">Battery</span>
                        </th>
                        <td>
                            5000 mAh
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;" class="animate__animated animate__flipInX ">
                        <th style=" background: black; color: white;">
                            <span style="padding: 20px;">Operating System</span>
                        </th>
                        <td>
                            Android v10
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;" class="animate__animated animate__flipInX ">
                        <th style=" background: black; color: white;">
                            <span style="padding: 20px;">Weight</span>
                        </th>
                        <td>
                            165 grams
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;" class="animate__animated animate__flipInX ">
                        <th style=" background: black; color: white;">
                            <span style="padding: 20px;">SIM Slots</span>
                        </th>
                        <td>
                            Dual SIM, GSM+GSM
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;" class="animate__animated animate__flipInX ">
                        <th style=" background: black; color: white;">
                            <span style="padding: 20px;">Fingerprint Sensor</span>
                        </th>
                        <td>
                            Yes
                        </td>
                    </tr>
                    <br />

                    

                    
                </table>
            </div>
            
        </div>

    </div>
    

   
</div>