<div class="container-fluid">
    
    <div class="row">
        <div class="col">
            <div class="animate__animated animate__pulse  ">
                <img  src="assets/top_image.png" class="brand-logo" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col p-0">
            <div class="brand-color">
                <div   >
                    <h1 class="text-center p-1 res-text"  style="color: white;"> {{configs.model_name}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around thumbs" >
        <div class="col-2 scroll-behaviour">
            <mat-card *ngFor="let pic of pics" (click)="onChangeImage(pic);">
                <img src="{{__baseUrl}}{{pic}}" width="100%" />       
            </mat-card>
            
        </div>
        <div class="col-4">

            <img [src]="imageUrl" width="100%" class="animate__animated animate__fadeInLeft animate__slower" >
        </div>
        
        <div class="col-4">
            <img src="assets/brand_logo/{{configs.brand_name}}.png" width="100%" >
            <div style="font-size: 40px;color: green;">
                {{configs.price | currency:'INR'}}
            </div>
<br>
Colors:<br />
            <div>
                <div   (click)="onChangeImage(colors.image);" style="height: 20px;width: 30px;margin-left: 10px;border: 1px solid black; float: left;"  *ngFor="let colors of color_pics" [style.background-color]="colors.color">
                
                </div>
            </div>
            <br />
            <div style="margin-top: 10px;">
                <!-- <input type="checkbox" [checked]="compare_selected" (ngModelChange)="onChangeCompare(this);">Compare -->
                <!-- <button mat-flat-button color="accent" *ngIf="!compare_selected" (click)="onChangeCompare(this);">Add To Compare</button>
                <button mat-button color="accent" *ngIf="compare_selected" (click)="onChangeCompare(this);">Added To Compare</button>
                 -->
                 
                    <label>
                <mat-checkbox    (ngModelChange)="onClickCompare($event,'1')"></mat-checkbox>
       

                      </label> 
                    
                
                
                 
            </div>
            
        </div>
    </div>








    <div class="row description">
        <div class="col p-10"> 

            <div class="row">
                <div class="col p-0">
                    <div class="brand-color-red">
                        <div   >
                            <h1 class="text-center p-0 res-text"  style="color: white;"> Specifications</h1>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" >
                <div class="col-6 text-center animate__animated animate__flipInX o1">
                    Display
                </div>
                <div class="col-6 animate__animated animate__flipInX o1">
                   <div class="animate__animated animate__fadeInRight o1"> {{configs.display}} "</div>
                </div>
            </div>
            <div class="row" >
                <div class="col-6 text-center animate__animated animate__flipInX o2">
                   <span> Processor</span>
                </div>
                <div class="col-6 animate__animated animate__flipInX o2">
                   <div class="animate__animated animate__fadeInRight o2"> {{configs.processor}}</div>
                </div>
            </div>
            <div class="row" >
                <div class="col-6 text-center animate__animated animate__flipInX o3">
                    <span>Storage</span>
                </div>
                <div class="col-6 animate__animated animate__flipInX o3">
                   <div class="animate__animated animate__fadeInRight o3"> {{configs.internal_storage}} GB</div>
                </div>
            </div>
            <div class="row" >
                <div class="col-6 text-center animate__animated animate__flipInX o4">
                  <span> RAM</span>
                </div>
                <div class="col-6 animate__animated animate__flipInX o4">
                   <div class="animate__animated animate__fadeInRight o4"> {{configs.ram}} GB</div>
                </div>
            </div>
            <div class="row" >
                <div class="col-6 text-center animate__animated animate__flipInX o5">
                  <span>  Camera</span>
                </div>
                <div class="col-6 animate__animated animate__flipInX o5">
                   <div class="animate__animated animate__fadeInRight o5"> {{configs.camera}}</div>
                </div>
            </div>
            <div class="row" >
                <div class="col-6 text-center animate__animated animate__flipInX o6">
                   <span>Camera Front</span>
                </div>
                <div class="col-6 animate__animated animate__flipInX o6">
                  <div class="animate__animated animate__fadeInRight o6">  {{configs.camera_front_pixel}} MP</div>
                </div>
            </div>
            <div class="row" >
                <div class="col-6 text-center animate__animated animate__flipInX o7">
                  <span> Battery</span>
                </div>
                <div class="col-6 animate__animated animate__flipInX o7">
                  <div class="animate__animated animate__fadeInRight o7">  {{configs.battery}} mAh</div>
                </div>
            </div>
            <div class="row" >
                <div class="col-6 text-center animate__animated animate__flipInX o8">
                <span> Operating System</span>
                </div>
                <div class="col-6 animate__animated animate__flipInX o8">
                  <div class="animate__animated animate__fadeInRight o8">  {{configs.operating_system}}</div>
                </div>
            </div>
            <div class="row" >
                <div class="col-6 text-center animate__animated animate__flipInX o9">
                 <span> Weight</span>
                </div>
                <div class="col-6 animate__animated animate__flipInX o9">
                  <div class="animate__animated animate__fadeInRight o9">  {{configs.weight}} Grams</div>
                </div>
            </div>
            <div class="row " >
                <div class="col-6 text-center animate__animated animate__flipInX o10">
                  <span>  SIM Slots</span>
                </div>
                <div class="col-6 animate__animated animate__flipInX o10">
                   <div class="animate__animated animate__fadeInRight o10"> {{configs.sim_features}}</div>
                </div>
            </div>
            <div class="row" >
                <div class="col-6 text-center animate__animated animate__flipInX o11">
                  <span>  Fingerprint Sensors</span>
                </div>
                <div class="col-6 animate__animated animate__flipInX o11">
                   <div class="animate__animated animate__fadeInRight o11"> {{configs.fingerprint_sensors}}</div>
                </div>
            </div>
 

            



        </div>

    </div>

    

</div>


<div class="container-fluid bottom-fix">

    <div class="row  thumbs-h" >
        <div class="justify-content-around col-12 horizontal-scroll-wrapper">
            <mat-card *ngFor="let relatedMobile of relatedMobiles" (click)="onClickRelatedMobile(relatedMobile);">
                <div class="mob-tag mob-title">{{relatedMobile.model_name}}</div>
                <img src="{{__baseUrl}}{{relatedMobile.image}}" width="100%" />
                
                <div class="mob-tag mob-mem">{{relatedMobile.ram}} / {{relatedMobile.internal_storage}} GB</div>
                <div class="mob-tag mob-price">₹ {{relatedMobile.price}} /-</div>
                       
            </mat-card>
            
         
        </div>

    </div>

</div>



<app-footer-component></app-footer-component>