<div style="max-width: 100%; background: rgb(255, 255, 255); text-align: center;height: max-content;overflow: auto;padding: 20px;">
    <div style="width: 100%;">
        
        <div class="animate__animated animate__backInUp ">
            <span style="  color: rgb(122, 71, 71);text-shadow: 2px 2px 4px #000000;font-size: 26px;">
                Select Your Product Here
            </span>
        </div>

        <div style="margin: 0 auto;width: 40%;">
            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            <div style="float:left;padding: 5px;">
                <img routerLink="/viewConfig" src="assets/pocoimg_1.jpg"/>
                <br>
                POCO M3 PRO
            </div>

            
            
        </div>

    </div>
    

   
</div>