.brand-color{
  background-color: royalblue;
}

.brand-color-red{
  background-color: grey;
}

.res-text{
  font-size: 22px !important;
}

.brand-logo{
  width: 60%;
  margin: 0 auto;
  display: block;
}


::-webkit-scrollbar {
  width: 0px;
}

.container-fluid{

}

@media (max-width: 575.98px) { 

  .res-text{
    font-size:13px !important;
  }
 }