<div class="container-fluid" routerLink="/listBrands">
    <div class="row">
        <div class="col">
            <div class="animate__animated animate__zoomIn animate__infinite	infinite animate__slower">
                <img  src="assets/logo_final.png" style="width: 70%;" />
               
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
                <div class="animate__animated animate__bounceInRight ">
                    <img  src="assets/shop_name.png" />
                   
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col p-0">
                <div class="animate__animated animate__bounceInRight ">
                    <img  src="assets/botton_image2.png"/>
                </div>
            </div>
    </div>
 
  </div>