<div style="max-width: 100%; background: rgb(255, 255, 255); text-align: center;padding: 20px;">

    <div style="position: -webkit-sticky;position: sticky;top: 0;z-index: 5;">
        <div style="width: 100%;">
        
            <div class="animate__animated animate__backInUp ">
                <span style="  color: rgb(122, 71, 71);text-shadow: 2px 2px 4px #000000;font-size: 26px;">
                    Mobile Configurations
                </span>
            </div>
    
            <div style="margin: 0 auto;width: 40%;">
                
                <div>
                    <table style="width: 100%;">
                        <tr>
    
                            <td class="animate__animated animate__zoomInLeft animate__slower	2s">
                                <img src="assets/pocoimg_1.jpg" />
                                <p>POCO M2 PRO</p>
                            </td>
                            <td class="animate__animated animate__zoomInRight animate__slower	2s">
                                <img src="assets/pocoimg_1.jpg" class="animate__animated animate__fadeInRight"/>
                                <p>POCO M2 PRO</p>
                            </td>
                        </tr>
    
                    </table>
                </div>
    
                
                <br />
    </div>
    
<!-- Configuratioin Part -->
            <div style="margin: 0 auto;width: 40%; height: 100;">
                <table style="width: 100%; font-size: 11px;padding: 5px;">
                    <tr  style="border-bottom: 1px solid black;" >
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInLeft  o1 ">
                            22 mm
                        </td>
                        <th style=" background: black; color: white;" class="animate__animated animate__flipInX  o1 ">
                            <span style="padding: 20px;">Display</span>
                        </th>
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInRight  o1 ">
                            22 mm
                        </td>
                    </tr>

                    <br />

                    

                    <tr  style="border-bottom: 1px solid black;">
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInLeft  o2 ">
                            Dual
                        </td>
                        <th style=" background: black; color: white;" class="animate__animated animate__flipInX  o2 ">
                            <span style="padding: 20px;">Processor</span>
                        </th>
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInRight  o2 ">
                            Dual
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;">
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInLeft  o3 ">
                            128 GB
                        </td>
                        <th style=" background: black; color: white;" class="animate__animated animate__flipInX  o3 ">
                            <span style="padding: 20px;">Storage</span>
                        </th>
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInRight  o3 ">
                            128 GB
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;">
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInLeft  o4 ">
                            8 GB
                        </td>
                        <th style=" background: black; color: white;" class="animate__animated animate__flipInX  o4 ">
                            <span style="padding: 20px;">RAM</span>
                        </th>
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInRight  o4 ">
                            8 GB
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;">
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInLeft  o5 ">
                            48 MP + 8 MP + 2 MP
                        </td>
                        <th style=" background: black; color: white;" class="animate__animated animate__flipInX  o5 ">
                            <span style="padding: 20px;">Camera</span>
                        </th>
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInRight  o5 ">
                            48 MP + 8 MP + 2 MP
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;">
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInLeft  o6 ">
                            16 MP
                        </td>
                        <th style=" background: black; color: white;" class="animate__animated animate__flipInX  o6 ">
                            <span style="padding: 20px;">Camera Front</span>
                        </th>
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInRight  o6 ">
                            16 MP
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;">
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInLeft  o7 ">
                            5000 mAh
                        </td>
                        <th style=" background: black; color: white;" class="animate__animated animate__flipInX  o7 ">
                            <span style="padding: 20px;">Battery</span>
                        </th>
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInRight  o7 ">
                            5000 mAh
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;">
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInLeft  o8 ">
                            Android v10
                        </td>
                        <th style=" background: black; color: white;" class="animate__animated animate__flipInX  o8 ">
                            <span style="padding: 20px;">Operating System</span>
                        </th>
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInRight  o8 ">
                            Android v10
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;">
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInLeft  o9 ">
                            165 grams
                        </td>
                        <th style=" background: black; color: white;" class="animate__animated animate__flipInX  o9 ">
                            <span style="padding: 20px;">Weight</span>
                        </th>
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInRight  o9 ">
                            165 grams
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;">
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInLeft  o10 ">
                            Dual SIM, GSM+GSM
                        </td>
                        <th style=" background: black; color: white;" class="animate__animated animate__flipInX  o10 ">
                            <span style="padding: 20px;">SIM Slots</span>
                        </th>
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInRight  o10 ">
                            Dual SIM, GSM+GSM
                        </td>
                    </tr>
                    <br />

                    <tr  style="border-bottom: 1px solid black;">
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInLeft  o11 ">
                            Yes
                        </td>
                        <th style=" background: black; color: white;" class="animate__animated animate__flipInX  o11 ">
                            <span style="padding: 20px;">Fingerprint Sensor</span>
                        </th>
                        <td style="font-weight:bold;" class="animate__animated animate__fadeInRight  o11 ">
                            Yes
                        </td>
                    </tr>
                    <br />

                    
                    <br />

                    

                    
                </table>
            </div>
            
        </div>

    </div>
    

   
</div>