
  .o1{
    animation-delay: 2s;
}

.o2{
    animation-delay: 3s;
}
.o3{
    animation-delay: 4s;
}
.o4{
    animation-delay: 5s;
}
.o5{
    animation-delay: 6s;
}
.o6{
    animation-delay: 7s;
}
 
.o7{
    animation-delay: 8s;
}

.o8{
    animation-delay: 9s;
}

.o9{
    animation-delay: 10s;
}

.o10{
    animation-delay: 11s;
}

.o11{
    animation-delay: 12s;
}

.o12{
    animation-delay: 13s;
}
.o13{
    animation-delay: 14s;
}

.middle
{
    margin: 0 auto;   display: block;
}

.mr{
    border-bottom:5px solid #fff;
    background-color: black;
    color: #fff;
    border-radius: 045px 45px 0px 0;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    }
 .lr {
border-bottom:1px solid black;
font-size: 22px;
padding-top: 10px;
padding-bottom: 10px;
font-weight: bold;
text-align: right;
}

.rr{
    border-bottom:1px solid black;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: left;
    }