<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="animate__animated animate__pulse  ">
                <img  src="assets/top_image.png" class="brand-logo" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col p-0">
            <div class="brand-color">
                <div   >
                    <h1 class="text-center p-1 res-text"  style="color: white;">Comparision of  M1 and M2</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 text-center">
             
                 <img  class="middle animate__animated animate__zoomInLeft animate__slower" width="50%"  [src]="mobile_1_image" />
                 <p style="font-size: 18px;">{{mobile_1_model}}</p>
            
        </div>    
        <div class="col-6 text-center">
            <div > 
                <img class="middle animate__animated animate__zoomInRight animate__slower" width="50%" [src]="mobile_2_image" />
               <p style="font-size: 18px;">{{mobile_2_model}}</p>
           </div>
        </div>
    </div>


    <div class="row description">
        <div class="col p-10"> 

            <div class="row">
                <div class="col p-0">
                    <div class="brand-color-red">
                        <div   >
                            <h1 class="text-center p-0 res-text"  style="color: white;"> Specifications</h1>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" >
                <div class="col-4 animate__animated animate__flipInX o1 lr" >
                    <div class="animate__animated animate__fadeInRight o1"> {{mobile_1_display}}</div>
                 </div>
                <div class="col-4 text-center animate__animated animate__flipInX o1 mr">
                    Display
                </div>
                <div class="col-4 animate__animated animate__flipInX o1 rr">
                   <div class="animate__animated animate__fadeInRight o1"> {{mobile_2_display}}</div>
                </div>
            </div>

            <div class="row" >
                <div class="col-4 animate__animated animate__flipInX o1 lr" >
                    <div class="animate__animated animate__fadeInRight o1"> {{mobile_1_processor}}</div>
                 </div>
                <div class="col-4 text-center animate__animated animate__flipInX o1 mr">
                    Processor
                </div>
                <div class="col-4 animate__animated animate__flipInX o1 rr">
                   <div class="animate__animated animate__fadeInRight o1"> {{mobile_2_processor}}</div>
                </div>
            </div>

            <div class="row" >
                <div class="col-4 animate__animated animate__flipInX o1 lr" >
                    <div class="animate__animated animate__fadeInRight o1"> {{mobile_1_storage}}</div>
                 </div>
                <div class="col-4 text-center animate__animated animate__flipInX o1 mr">
                    Storage
                </div>
                <div class="col-4 animate__animated animate__flipInX o1 rr">
                   <div class="animate__animated animate__fadeInRight o1">{{mobile_2_storage}}</div>
                </div>
            </div>


            <div class="row" >
                <div class="col-4 animate__animated animate__flipInX o1 lr" >
                    <div class="animate__animated animate__fadeInRight o1"> {{mobile_1_ram}}</div>
                 </div>
                <div class="col-4 text-center animate__animated animate__flipInX o1 mr">
                    RAM
                </div>
                <div class="col-4 animate__animated animate__flipInX o1 rr">
                   <div class="animate__animated animate__fadeInRight o1"> {{mobile_2_ram}}</div>
                </div>
            </div>

            <div class="row" >
                <div class="col-4 animate__animated animate__flipInX o1 lr" >
                    <div class="animate__animated animate__fadeInRight o1">{{mobile_1_camera}} </div>
                 </div>
                <div class="col-4 text-center animate__animated animate__flipInX o1 mr">
                    Camera
                </div>
                <div class="col-4 animate__animated animate__flipInX o1 rr">
                   <div class="animate__animated animate__fadeInRight o1"> {{mobile_2_camera}}</div>
                </div>
            </div>

            <div class="row" >
                <div class="col-4 animate__animated animate__flipInX o1 lr" >
                    <div class="animate__animated animate__fadeInRight o1">{{mobile_1_cameraFront}} </div>
                 </div>
                <div class="col-4 text-center animate__animated animate__flipInX o1 mr">
                    Camera Front
                </div>
                <div class="col-4 animate__animated animate__flipInX o1 rr">
                   <div class="animate__animated animate__fadeInRight o1"> {{mobile_2_cameraFront}}</div>
                </div>
            </div>

            <div class="row" >
                <div class="col-4 animate__animated animate__flipInX o1 lr" >
                    <div class="animate__animated animate__fadeInRight o1">{{mobile_1_battery}}</div>
                 </div>
                <div class="col-4 text-center animate__animated animate__flipInX o1 mr">
                    Battery
                </div>
                <div class="col-4 animate__animated animate__flipInX o1 rr">
                   <div class="animate__animated animate__fadeInRight o1">{{mobile_2_battery}}</div>
                </div>
            </div>

            <div class="row" >
                <div class="col-4 animate__animated animate__flipInX o1 lr" >
                    <div class="animate__animated animate__fadeInRight o1"> {{mobile_1_operatingSystem}}</div>
                 </div>
                <div class="col-4 text-center animate__animated animate__flipInX o1 mr">
                    Operating System
                </div>
                <div class="col-4 animate__animated animate__flipInX o1 rr">
                   <div class="animate__animated animate__fadeInRight o1"> {{mobile_2_operatingSystem}}</div>
                </div>
            </div>

            <div class="row" >
                <div class="col-4 animate__animated animate__flipInX o1 lr" >
                    <div class="animate__animated animate__fadeInRight o1">{{mobile_1_weight}} </div>
                 </div>
                <div class="col-4 text-center animate__animated animate__flipInX o1 mr">
                    Weight
                </div>
                <div class="col-4 animate__animated animate__flipInX o1 rr">
                   <div class="animate__animated animate__fadeInRight o1"> {{mobile_2_weight}}</div>
                </div>
            </div>

            <div class="row" >
                <div class="col-4 animate__animated animate__flipInX o1 lr" >
                    <div class="animate__animated animate__fadeInRight o1"> {{mobile_1_sim}}</div>
                 </div>
                <div class="col-4 text-center animate__animated animate__flipInX o1 mr">
                    SIM Slots
                </div>
                <div class="col-4 animate__animated animate__flipInX o1 rr">
                   <div class="animate__animated animate__fadeInRight o1"> {{mobile_2_sim}}</div>
                </div>
            </div>
            
            <div class="row" >
                <div class="col-4 animate__animated animate__flipInX o1 lr" >
                    <div class="animate__animated animate__fadeInRight o1"> {{mobile_1_fingerprint}}</div>
                 </div>
                <div class="col-4 text-center animate__animated animate__flipInX o1 mr">
                    Fingerprint Sensors
                </div>
                <div class="col-4 animate__animated animate__flipInX o1 rr">
                   <div class="animate__animated animate__fadeInRight o1"> {{mobile_2_fingerprint}}</div>
                </div>
            </div>
 
           
            

            



        </div>

    </div>


</div>
<app-footer-component></app-footer-component>